<article>
  <header>
    <span class="date">{{ content.field_type.0 }}</span>
    <h2><a href="{{ url }}">{{ label }}</a></h2>
  </header>
  <a href="{{ url }}" class="image fit">{{ content.field_image }}</a>
  {{ node.body.summary }}
  <ul class="actions special">
    <li><a href="{{ url }}" class="button">{{ 'View object'|t }}</a></li>
  </ul>
</article>
